name: mac-os-bench
run-name: testing proxy benchmark on macOS
on: workflow_dispatch
jobs:
  run-benchmark:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.5"
      - name: Install oha
        run: |
          brew install oha
      - name: Install dependencies
        run: |
          bun install
      - name: Run benchmark
        run: |
          OHA_PATH=$(which oha) bun test --timeout=10000
